{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
	<h1>Announcing the Pennvention 2015 Finalists!</h1>
        <p> In the most competitive Pennvention yet, these 8 teams have made it through 2 entire rounds to have the opportunity to pitch at the Pennvention Final Round. On April 8, 2015, these teams will compete for over $20,000 in cash and in-kind prizes. Check them out:</p>
	<h3><a href="http://oncoramedical.com">Oncora Medical</a></h3>
	<strong>Team Members:</strong> William Lindsay (MED/SEAS)
	<p>Oncora uses historical medical record data and predictive analytics to help radiation oncologists provide better care at a low cost.</p> 
	<h3>Animotion</h3>
	<strong>Team Members:</strong> Feini Qu (SEAS), Peter Gebhard (SEAS), Amrith Krushnakumaar (Wharton)	
	<p>AniMotion is a low-cost, wearable device that allows self-monitoring of joint function and reduces the need for frequent physical therapy sessions.</p>
	<h3>GFRACK Technologies</h3>
	<strong> Team Members:</strong> Teddy Guenin (Wharton/SEAS), Ashwin Amurthur (SEAS/Wharton)
	<p>GFRACK is a graphene-based FET sensor platform used to give oilfield service companies and municipalities early awareness and 100% clarity about possible harmful chemicals leaked into groundwater. </p>
	<h3>PillPal</h3>
	<strong>Team Members:</strong> Seaon Shin (Wharton), Wyatt Shapiro (SEAS), Lyles Swift (SAS)
	<p>PillPal is a smart, multi-pill dispenser designed to combat barriers associated with medicine intake. It uses text-recognition software to scan prescriptions and reduce health illiteracy, incorporates 'nudges' to build social support and uses success tracking to motivate better adherence. </p>
	<h3>ThoughtTac Technologies</h3>
	<strong>Team Members:</strong> Beatriz Gadala-Maria (SAS), Marcela Argüello (Wharton), Chetna Johri (Wharton/SEAS), Kinjal Shah (Wharton/SEAS)
	<p>ThoughtTac is a mobile application that supports disease management of schizophrenia patients. </p>
	<h3>BionUX</h3>
	<strong>Team Members:</strong> Adrian Lievano (SEAS), Matthew Lisle (SEAS), Aadithya Prakash (SEAS), Freddy Hernandez (SEAS), Steven Xing (Wharton/SEAS)
	<p>BionUX or Bionic Upper Extremity is a low-cost prosthesis for above-the-arm amputees. </p>
	<h3>EyeFly</h3>
	<strong>Team Members:</strong> Michael Gromis (Wharton/SEAS), Jeff Grimes (Wharton/SEAS), Bahram Banisadr (Wharton/SEAS)
	<p>EyeFly can film movies in a way never before possible. EyeFly drones will autonomously fly in swarms capturing multiple angles of each shot with a level of fluidity and precision. </p>	

	<h3>Roominnate</h3>
	<strong>Team Members:</strong> Sally Huang (Wharton)
	<p>An interior design experience powered by photorealistic 3D rendering.</p>
  </div>
{% endblock %}
