{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
	<h1>Announcing the Pennvention 2016 Finalists!</h1>
	<i>Posted by</i> <b>The Pennvention Team</b> <i>on</i> <b>04/13/16.</b>
	<BR />
	<BR />
	<p> After the most competitive year in Pennvention's history, these eight teams have advanced to the Final Round. On April 13th, 2016, these teams will compete for over $20,000 in cash and in-kind prizes. Check them out:</p>

  </div>
  <div class="jumbo">
	<h1>Announcing the Pennvention 2015 Finalists!</h1>
	<i>Posted by</i> <b>The Pennvention Team</b> <i>on</i> <b>4/5/15.</b>
	<BR />
	<BR />
	<p> After the most competitive year in Pennvention's history, these eight teams have advanced to the Final Round. On April 5th, 2015, these teams will compete for over $20,000 in cash and in-kind prizes. Check them out:</p>

	<h3>AniMotion</h3>
	<p>Rehabilitation from musculoskeletal joint injury typically requires long-term physical therapy (PT), which is expensive and time-consuming. To address this problem, we developed a low-cost, wearable device that allows self-monitoring of joint function and recovery, reducing the need for frequent PT sessions.</p>
	<h3>BionUX</h3>
	<p>BionUX, which stands for Bionic Upper Extremity, is a low-cost prosthesis for above-the-arm amputees. We are motivated by creating an anthropomorphic and intuitive arm for the hundreds of thousands of above-the-arm amputees who cannot afford to pay tens of thousands of dollars for the state of the art technology. This intuitive prosthesis includes EMG grasp actuation, sensory feedback (pressure, temperature, and acceleration, and anthropomorphic mechanical design.</p>
	<h3>EyeFly</h3>
	<p>Using hexrotor-mounted cameras, EyeFly can film movies in a way never before possible. Flying cameras give filmmakers increased flexibility and creativity when staging shots. As a seamless and inexpensive substitute for helicopter aerials, expensive cranes and rigs, and some CGI background shots, EyeFly cuts down both on costs and timelines for filming. Drones will autonomously fly in swarms capturing multiple angles of each shot with a level of fluidity, precision, and ease that is not achievable with existing filming technologies.</p>
	<h3>GTRACK Technologies</h3>
	<p>GTRACK Technologies is a company dedicated to providing chemical tracers for use in the oil reservoir characterization field. We are developing graphene quantum dot technology that serves as chemically inert, non-radioactive, highly sensitive, and inexpensive tracers. We can sell these tracers to oilfield service companies, who can integrate them with their current sensing systems and use the tracers to gain information like rock permeability and porosity at depth, rock formation type, and fluid flow during complicated drilling operations. Ultimately, the technology helps oil companies be much more efficient in extracting oil and drilling less often, both saving money and increasing returns on their oil drilling.</p>
	<h3>Oncora Medical</h3>
	<p>Oncora uses historical medical record data and predictive analytics to help radiation oncologists provide better care at lower cost. First, we aggregate clinical data from multiple sources (electronic medical records, imaging systems, and tumor registries). Next we leverage advanced computer vision and language processing techniques to deeply analyze the data. Then, we use proprietary machine learning algorithms in conjunction with this data to make predictions about future patients.</p>
	<h3>PillPal</h3>
	<p>PillPal is a smart, multi-pill dispenser designed to combat barriers associated with medicine intake. It uses text-recognition software to scan prescriptions and reduce health illiteracy, incorporates 'nudges' to build social support and uses success tracking to motivate better adherence. It includes basic services such as reminders, alerting loved ones of missed doses and tracking medicine intake.</p>
	<h3>Roominnate</h3>
	<p>Roominnate Designer is a 3D home design application that allows users to produce photorealistic and interactive renderings of their designs. Our software is powered by our proprietary material capture process and rendering automation software. Co-Founder/CEO Sally Huang has extensive 3D graphics experience and used to manage large creative teams for Microsoft’s Halo video game franchise. Prior to that she created the content pipeline for the home building and decorating mode for EA’s MySims Franchise. Technical Co-Founder Aaron Yip used to work for Big Fish Games where he used his machine learning expertise to design automatic software to port native Android code to native iOS.</p>
	<h3>ThoughtTac Technologies</h3>
	<p>ThoughtTac is a mobile application that supports disease management of schizophrenia patients. ThoughtTac utilizes the integration of Cognitive Enhancement Therapy (CET), adherence support, peer support, and a patient profiles to assist in disease management while generating dynamic data sets that will enhance medical and professional understanding of schizophrenia.</p> 
  </div>

  <div class="jumbo">
	<h1>Pennvention 2014 Final Round Results</h1>
	<i> Posted by</i> <b>The Pennvention Team</b> <i>on</i> <b>4/9/14.</b>
	<BR />
	<BR />
	<p> On Monday, 8 teams came and pitched incredible projects to a panel of judges. After 3 hours of presentations, Q&A, and judge deliberations, here are the awards:</p>
	<h3>Weiss Tech House Awards</h3>
	<h4>Grand Prize ($5000): <a href="http://biobots.io/">BioBots</a></h4>
	<h4>Second Prize ($2500): <a href="http://feversmart.com">Fever Smart (fka Life Patch)</a></h4>
	<h4>Third Prize ($1500): <a href="#">GoogolPlex</a></h4>
	<h3>Sponsor Awards</h3>
	<h4>Venturef0rth Prize: <a href="http://www.govpredict.com">GovPredict</a></h4>
	<p>GovPredict will be joining Venturef0rth this summer for free incubation space (a $5000 value) at their offices.</p>
	<h4>DreamIt Ventures Award: <a href="http://biobots.io/">BioBots</a></h4>
	<p>BioBots will be getting an expedited review by the investment team at DreamIt Ventures to secure a place in its summer accelerator program in NYC.</p>
	<h4>Dr. Chris Mader Award for Innovation in Information Technology ($1000): <a href="#">GoogolPlex</a></h4>
	<p>This award was generously sponsored by MentorTech Ventures. It was given in honor of the mentor of Michael Aronson, Managing Partner.</p>
	<h4>RJMetrics Award: <a href="#">GoogolPlex</a></h4>
	<p> This award included $10,000 in business analytics software provided by Penn alum-founded RJMetrics.</p>
	<BR />
	<p>Congratulations to all teams!</p>
  </div>
	<BR />
	<BR />
  <div class="jumbo">
	<h1>Announcing the Pennvention 2014 Finalists!</h1>
	<i> Posted by</i> <b>The Pennvention Team</b> <i>on</i> <b>3/30/14.</b>
	<BR />
	<BR />
        <p> After the most rigorous and competitive Pennvention season in 10 years, these 8 teams have made it to the finals. On April 7, 2014, these teams will compete for over $20,000 in cash and in-kind prizes. Check them out:</p>
	<h3><a href="http://www.haxbox.com">haxbox</a></h3>
	<p>We are leveling the playing field for gamers with limited use of their hands, and empowering therapists to use the motivating force of gaming to drive physical rehabilitation. The Haxbox makes it easy to replace standard game controllers with any combination of custom input devices, enabling personalized gaming setups as well as game-based therapy regimens-- both at the clinic and in the home. </p>
	<h3><a href="#">Chirp</a></h3>
	<p>We've created a wireless EEG processing system which uses 6 electrodes on the scalp, close to the hairline, and a feature extraction algorithm to detect the onset of a seizure. This algorithm then sends an alert to the patient asking if they need medical attention. It immediately begins recording EEG data upon seizure detection for future processing and research. The device can alert an emergency contact, such as the patient's parent or caretaker. </p>
	<h3><a href="http://biobots.io/">BioBots</a></h3>
	<p>We are developing a novel 3D printer specifically tailored for bioengineering applications. Our goal is to design the printer so that devices and implantable materials can be produced in a sterile environment. We hope to offer this as a cost-effective service to research groups first at the University of Pennsylvania and then other institutions that are conducting tissue engineering research and are involved in independent device development efforts. </p>
	<h3><a href="http://feversmart.com">Fever Smart (fka Life Patch)</a></h3>
	<p>Life Patch is a small, non-invasive, real-time temperature monitoring system designed for children who suffer from febrile seizures. </p>
	<h3><a href="#">Aware</a></h3>
	<p>The team of John Bergantino and Aman Shah have invented, prototyped, and filed a provisional patent for AWARE, an innovative wearable feedback device to reduce head injuries in football. AWARE give football players immediate audible feedback when they undergo potentially damaging head acceleration; athletes can use the feedback to modify behavior to be more protective of the head. Where most innovations to date aim to identify concussions after they happen, AWARE aims to reduce all impacts. </p>
	<h3><a href="#">GoogolPlex</a></h3>
	<p>GoogolPlex allows iPhone users to use Siri to control third-party applications. Currently, Siri only allows users to control Apple apps and services, but GoogolPlex allows users to pay through Venmo, play Spotify, control Philips Hue lights, and more, all through Siri. Moreover, third-party apps like GrubHub, Snapchat, etc. can integrate with GoogolPlex so that users can control their apps with Siri. GoogolPlex won 3rd place out of 220+ projects at PennApps. </p>
	<h3><a href="http://govpredict.com">GovPredict</a></h3>
	<p>Predictive analytics tool for forecasting the passage of bills in Congress and the votes of congressmen. </p>
	<h3><a href="#">KLAR Scientific</a></h3>
	<p>KLAR is developing a superhydrophobic coating for dental mirrors, that once applied, will keep them clean throughout a procedure. </p>
  </div>
{% endblock %}
